---
import { getAllPosts } from "@/lib/repo/post.repo";
import Typo from "@/components/Typo.astro";
import { PAGE_SIZE } from "@/consts";
import FreeStyleLayout from "@/layouts/FreeStyleLayout.astro";
import NavigationBar from "@/components/navigation-bar/NavigationBar.astro";
import Footer from "@/components/Footer.astro";
import MeFloat from "@/components/MeFloat.astro";
import TechStackTable from "@/components/TechStackTable.astro";
import { techStacks } from "@/data/techStacks";
import ProjectCard from "@/components/ProjectCard.astro";
import { projects } from "@/data/projects";
import { blogPosts } from "@/data/blogPosts";
import BlogCard from "@/components/BlogCard.astro";
---

<FreeStyleLayout title="Home">
  <NavigationBar />
  <section class="min-h-screen">
    {/* Hero section */}
    <div class="bg-white">
      <div class="main-container py-8 md:py-32 px-4">
        <div class="grid grid-cols-1 md:grid-cols-10 gap-4">
          <div class="md:col-span-7">
            <h1
              class="text-primary font-bold font-primary text-[32px] md:text-[40px] mb-3"
            >
              I’m Luckytime1996
            </h1>
            <Typo variant="normal">
              A Full Stack Developer who loves exploring new projects,
              technologies, and programming techniques, believing that
              well-crafted software can solve problems and create value for
              people.
            </Typo>
          </div>
          <div class="md:col-span-3 flex justify-center items-center">
            <MeFloat />
          </div>
        </div>
      </div>
    </div>

    <!-- Tech Stack Section -->
    <div class="bg-gray-50">
      <div class="main-container py-12 md:py-20 px-4">
        <Typo variant="h2" color="primary" class="mb-8">Tech stack</Typo>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          {
            techStacks.map((stack) => (
              <TechStackTable
                class="col-span-1"
                title={stack.title}
                items={stack.items}
              />
            ))
          }
        </div>
      </div>
    </div>

    <!-- Projects Section -->
    <div class="bg-white">
      <div class="main-container py-12 md:py-20 px-4">
        <Typo variant="h2" color="primary" class="mb-8">Featured Projects</Typo>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-16">
          {projects.map((project) => <ProjectCard {...project} />)}
        </div>
      </div>
    </div>

    <!-- Blog Section -->
    <div class="bg-gray-50">
      <div class="main-container py-12 md:py-20 px-4">
        <Typo variant="h2" color="primary" class="mb-8">Latest Articles</Typo>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-12">
          {blogPosts.map((post) => <BlogCard {...post} />)}
        </div>
      </div>
    </div>
    <Footer />
  </section>
</FreeStyleLayout>
