<style>
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>

<div class="relative w-[300px] h-[300px]">
  <img
    src="/images/misc/me-float.png"
    alt="Floating character"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[200px] z-2 image-render-pixelated"
    style="animation: 6s ease-in-out infinite float;"
  />

  <img
    src="/images/misc/laptop.png"
    alt="Laptop"
    class="absolute top-[60px] left-[10px] w-[80px] h-auto z-1 image-render-pixelated"
    style="animation: 4s ease-in-out 0.5s infinite float;"
  />

  <img
    src="/images/misc/clover.png"
    alt="Clover"
    class="absolute bottom-[40px] right-[20px] w-[100px] h-auto z-1 image-render-pixelated"
    style="animation: 4s ease-in-out 1s infinite float;"
  />

  <img
    src="/images/misc/saturn.png"
    alt="Saturn"
    class="absolute top-[10px] right-[50px] w-[80px] h-auto z-1 image-render-pixelated"
    style="animation: 5s ease-in-out 0.75s infinite float;"
  />
</div>
