<style>
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>

<div class="relative w-[300px] h-[300px]">
  <img
    src="/images/misc/me-float-4.png"
    alt="Floating character"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[200px] z-2"
    style="animation: 6s ease-in-out infinite float;"
  />

  <img
    src="/images/misc/laptop-2.png"
    alt="Laptop"
    class="absolute top-[70px] left-[40px] w-[55px] h-auto z-1"
    style="animation: 4s ease-in-out 0.5s infinite float;"
  />

  <img
    src="/images/misc/clover.png"
    alt="Clover"
    class="absolute bottom-[40px] right-[55px] w-[50px] h-auto z-1"
    style="animation: 4s ease-in-out 1s infinite float;"
  />

  <img
    src="/images/misc/saturn.png"
    alt="Saturn"
    class="absolute top-[10px] right-[60px] w-[65px] h-auto z-1"
    style="animation: 5s ease-in-out 0.75s infinite float;"
  />
</div>
