---
import Typo from "./Typo.astro";

interface TechStack {
  img: string;
  name: string;
}

interface Props {
  title: string;
  items: TechStack[];
  class?: string;
}

const { title, items, class: className = "" } = Astro.props;
---

<div class={className}>
  <Typo variant="h3">{title}</Typo>
  <div class="col-span-1 grid grid-cols-3 gap-4">
    {
      items.map((item) => (
        <div class="flex flex-col gap-2 col-span-1 items-center p-4">
          <div class="w-[50px] h-[50px] bg-primary rounded-full" />
          <Typo variant="small" color="primary">
            {item.name}
          </Typo>
        </div>
      ))
    }
  </div>
</div>
